<!DOCTYPE html>
<html ng-app='Ekzamen'>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Екзамен</title>
</head>
<body>
    <h2 align="center">Список для йогурта</h2>
<div id="list1" ng-controller='Controller as list1'>
    <h3>Купити:</h3>
    <ol>
        <li ng-repeat="item in list1.item">
              <div ng-if="item.show===true">
            Наявно {{item.quantity}} {{item.mark}}
            <button ng-click="list1.hide($index);" id = "btn2">Приховати</button>
            <button ng-click="list1.delete($index);" id ="btn1">Видалити</button>
        </div>
        </li>
    </ol>
       <div ng-if="list1.item.length === 0">
       Все
    </div>
</div>
</div>
</body>
</html>
